#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inputGroup {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.submit {
  background-color: #000;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
}

.response {
  background-color: #000;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
}

a {
  padding: 0.4rem 0.7rem;
  background-color: #000;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  margin: 0rem 0.8rem;
}