#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.pollingDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.chart {
  display: table;
  table-layout: fixed;

  width: 60%;
  max-width: 700px;
  height: 200px;
  margin: 0 auto;

  background-image: linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.1) 2%,
    transparent 2%
  );
  background-size: 100% 50px;
  background-position: left top;

  li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
  }

  span {
    margin: 0 1em;
    display: block;
    background: #a300ff;
    animation: draw 1s ease-in-out;

    &:before {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      padding: 5px 1em 0;
      display: block;
      text-align: center;
      content: attr(title);
      word-wrap: break-word;
    }
  }
}

@keyframes draw {
  0% {
    height: 0;
  }
}