

li {
    list-style: none;
    transition: 0.3s;
}

li.navItem {
    padding: 2px 5px;
}

.hidediv{
    display: none;
}

/* banner part */
.sections{
    min-height: 45vh;
    position: relative;
}

.contactus-btn{
    width: max-content;
    padding: .5rem;
}

.aboutmeFrame{
    height: 30rem;
}