*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none !important;
  color: inherit;
}

.app{
  justify-content: space-between;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vh65{
  height: 65vh;
}
.mini-img-card{
  height: 300px;
}

.img-card{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.single-product-item {
  -webkit-box-shadow: 0 0 20px #e4e4e4;
  box-shadow: 0 0 20px #e4e4e4;
  padding-bottom: 50px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.single-product-item:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}