<!DOCTYPE html>
<html lang="en">
<head>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>

    <nav>
        <h4>Dashboard</h4>
        <ul>
            <li><a href="/">Home</a></li>
            
            <li><a href="/logout">logout</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Welcome {{ user }}</h1>
            <p>Your Dashboard is processing..... </p>
        </div>
    </div>
</body>
</html>